doctrine_migrations:
    migrations_paths:
        # namespace is arbitrary but should be different from App\Migrations
        # as migrations classes should NOT be autoloaded
        'AppMigrations': '%kernel.project_dir%/migrations/app'
    enable_profiler: false
